@use "styles/variables.scss";

.item {
	align-items: center;
	cursor: inherit;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr auto auto;
	width: 100%;

	&.current {
		opacity: 0.3;
	}

	&:not(:last-child) {
		border-bottom: 1px solid var(--stroke-color);
	}

	& > button[type="button"] {
		opacity: 0;
		visibility: hidden;
	}

	&:hover button[type="button"],
	&:focus-within button[type="button"] {
		opacity: 1;
		visibility: visible;
	}

	&__edit {
		background: none;
		border: none;
		cursor: pointer;

		svg {
			fill: var(--primary-text);
			height: 1.8rem;
			transition: fill 0.2s ease-in-out;
			will-change: fill;
		}

		&:hover,
		&:focus {
			outline: none;

			svg {
				fill: var(--primary-color);
			}
		}
	}

	&__delete {
		background: none;
		border: none;
		cursor: pointer;
		margin-right: 2rem;

		svg {
			fill: var(--primary-text);
			height: 1.8rem;
			transition: fill 0.2s ease-in-out;
			will-change: fill;
		}

		&:hover,
		&:focus {
			outline: none;

			svg {
				fill: var(--error-color);
			}
		}
	}
}

@media (pointer: coarse) {
	.item > button[type="button"] {
		opacity: 1;
		visibility: visible;
	}
}
