// vars
$primary-light-color: #2196f3;
$primary-dark-color: #2196f3;
$primary-light-bg: #f0f0f0;
$primary-dark-bg: #171723;
$primary-light-text: #171723;
$primary-dark-text: #ffffff;
$secondary-light-color: #f7aaf7;
$secondary-dark-color: #673ab7;
$secondary-light-bg: #ffffff;
$secondary-dark-bg: #25273c;
$secondary-light-text: #25273c;
$secondary-dark-text: #b0b0cc;
$stroke-color-light: #c3c3c3;
$stroke-color-dark: #333333;
$box-shadow-light: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
$box-shadow-dark: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
$error-color-dark: #ff0000;
$error-color-light: #ff0000;

$font: "Ubuntu", sans-serif;
$fz-xxs: 1.2rem;
$fz-xs: 1.3rem;
$fz-sm: 1.4rem;
$fz-md: 1.6rem;
$fz-lg: 1.8rem;
