@use "@styles/variables.scss";

$checkbox-gradient: linear-gradient(135deg, var(--primary-color) 13%, var(--secondary-color) 66%);

.checkbox {
  cursor: inherit;
  position: relative;

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  input:checked~&_checkmark {
    background: $checkbox-gradient;
    border: none;
  }

  input:checked~&_checkmark::after {
    display: block;
  }

  &_checkmark {
    background: none;
    border: thin solid var(--secondary-text);
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 2rem;

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 0.8rem;
      top: 0.4rem;
      width: 0.4rem;
      height: 0.8rem;
      border: solid var(--primary-text);
      border-width: 0 2px 2px 0;
      transform: rotate(50deg);
    }
  }

  p {
    color: var(--primary-text);
    font-size: variables.$fz-sm;
    font-weight: 500;
    margin-left: 3rem;
    position: relative;
    width: fit-content;
    word-break: break-word;
  }

  input:checked~p {
    text-decoration: line-through;
  }

  &:hover,
  &:focus,
  &:focus-within {
    outline: none;

    input:not(:checked)~&_checkmark {
      border-color: transparent;
      background-image: linear-gradient(var(--secondary-bg), var(--secondary-bg)),
        $checkbox-gradient;
      background-origin: border-box;
      background-clip: content-box, border-box;
    }

    p {
      color: var(--secondary-text);
      font-size: variables.$fz-sm;
      font-weight: 500;
      margin-left: 3rem;

      &::before {
        background-color: var(--secondary-text);
      }
    }
  }
}